{% case swatch_color %}
  {% when 'grey' %}
  <span class="color-swatch__icon color-swatch__icon-color-{{swatch_color}}"></span>
  {% when 'gray' %}
  <span class="color-swatch__icon color-swatch__icon-color-{{swatch_color}}"></span>
  {% when 'grean' %}
  <span class="color-swatch__icon color-swatch__icon-color-{{swatch_color}}"></span>
  {% when 'purple' %}
  <span class="color-swatch__icon color-swatch__icon-color-{{swatch_color}}"></span>
  {% when 'pink' %}
  <span class="color-swatch__icon color-swatch__icon-color-{{swatch_color}}"></span>


{% endcase %}