{{ 'david-task-shoes.css' | asset_url | stylesheet_tag }}
<div class="section-david-shoes">
  <div class="page-width section-david-shoes__container">
    <div class="section-david-shoes__block">
      {% for block in section.blocks %}
        <div class="section-david-shoes__wrapper">
          <div class="section-david-shoes__top">
            <div class="section-david-shoes__top-wrapper">
              <div class="section-david-shoes__title">
                {{ block.settings.shoes-title }}
              </div>
              <div class="section-david-shoes__price">
                Pricing ${{ block.settings.shoes-price }}
              </div>
            </div>
            <div class="section-david-shoes__heart-wrapper">
              <div class="section-david-shoes__heart" style="display: inherit"></div>
            </div>
          </div>
          <div class="section-david-shoes__product">
            <div class="section-david-shoes__product-wrapper">
              <div class="section-david-shoes__category">
                {{ block.settings.shoes-category }}
              </div>
              {% if block.settings.show-new == true %}
                <div class="section-david-shoes__new-wrapper">
                  <div class="section-david-shoes__new">
                    new
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="section-david-shoes__image">
              <img src="{{ block.settings.shoes-img | img_url: '100%'}}" alt="{{ block.settings.shoes-img | default: 'shoes' }}">
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "David task Shoes",
    "tag": "section",
    "class": "section section-david-shoes",
    "settings": [],
    "blocks": [
      {
        "name": "David Shoes",
        "type": "david-shoes",
        "settings": [
          {
            "type": "text",
            "id": "shoes-title",
            "label": "Block title",
            "default": "Your title"
          },
          {
            "type": "text",
            "id": "shoes-price",
            "label": "Block price",
            "default": "Your price"
          },
          {
            "type": "text",
            "id": "shoes-category",
            "label": "Block category",
            "default": "Сategory"
          },
          {
            "type": "checkbox",
            "id": "show-new",
            "label": "Show new",
            "default": true
          }, {
            "type": "image_picker",
            "id": "shoes-img",
            "label": "Shoes Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "David Task Shoes",
        "blocks": [
          {
            "type": "david-shoes"
          }, {
            "type": "david-shoes"
          }, {
            "type": "david-shoes"
          }
        ]
      }
    ]
  }
{% endschema %}