{{ 'david-task-reviews.css' | asset_url | stylesheet_tag }}
{% if section.blocks.size > 0 %}
  <div class="section-david-reviews">
    <div class="page-width section-david-reviews-container">
      <div class="section-david-reviews-hooks">
        <div class="section-david-reviews-hook ">
          {% render 'review-icon.liquid' %}
        </div>
        <div class="section-david-reviews-hook">
          {% render 'review-icon.liquid' %}
        </div>
      </div>
      <div class="section-david-reviews-block">
        <div class="section-david-reviews-top">
          <div class="section-david-reviews-title">
            {{ section.settings.reviews-title }}
          </div>
          <div class="section-david-reviews-arrows">
            <div class="section-david-reviews-arrow-left arrow-prew">
              {% render 'arrow-left.liquid' %}
            </div>
            <div class="section-david-reviews-arrow-right arrow-next">
              {% render 'arrow-right.liquid' %}
            </div>
          </div>
        </div>
        <div class="section-david-reviews-slider">
          <div class="section-david-reviews-slider-list">
            {% for block in section.blocks %}
              <div class="section-david-reviews-slider-item">
                <div class="slider__item-icon">
                  <img src="{{ block.settings.reviews-icon | img_url: 'master' }}" alt="{{ block.settings.reviews-icon | default: 'icon'  }}">
                </div>
                <div class="slider__item-title-block">
                  <div class="slider__item-title-icon">
                    {% render 'review-mini.liquid' %}
                    {% render 'review-mini.liquid' %}
                  </div>
                  <div class="slider__item-title">
                    {{ block.settings.review-title }}
                  </div>
                </div>
                <div class="slider__item-descr">
                  {{ block.settings.review-description }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#shopify-section-{{section.id}} .section-david-reviews-slider-list').slick({
      infinite: true,
      slidesToShow: {{ section.settings.slider_items }},
      slidesToScroll: 1,
      speed: 1000,
      dots: true,
      prevArrow: $('#shopify-section-{{section.id}} .arrow-prew'),
      nextArrow: $('#shopify-section-{{section.id}} .arrow-next'),
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: {{ section.settings.slider_items_tab }},
            slidesToScroll: {{ section.settings.slider_items_tab }}
          }
        }, {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  });
</script>


{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.6.3.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "David reviews",
    "tag": "section",
    "class": "section section-david-reviews",
    "settings": [
      {
        "type": "text",
        "id": "reviews-title",
        "label": "Section title",
        "default": "Customer reviews"
      }, {
        "type": "range",
        "id": "slider_items",
        "min": 3,
        "max": 8,
        "step": 1,
        "label": "Items per page",
        "default": 3
      }, {
        "type": "range",
        "id": "slider_items_tab",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Items per page",
        "default": 2
      }, {
        "type": "range",
        "id": "slider_items_mob",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Items per page",
        "default": 1
      }
    ],
    "blocks": [
      {
        "name": "David Review",
        "type": "david-review",
        "settings": [
          {
            "type": "image_picker",
            "id": "reviews-icon",
            "label": "Block Icon"
          }, {
            "type": "text",
            "id": "review-title",
            "label": "Block title",
            "default": "Sara Casie"
          }, {
            "type": "text",
            "id": "review-description",
            "label": "Block description",
            "default": "Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "David Task Reviews",
        "blocks": [
          {
            "type": "david-review"
          }, {
            "type": "david-review"
          }, {
            "type": "david-review"
          }
        ]
      }
    ]
  }
{% endschema %}