{{ 'david-task-collection.css' | asset_url | stylesheet_tag }}
{% if section.blocks.size > 0 %}
  <div class="section-david-collection">
    <div class="page-width section-david-collection__container">
      <h2 class="section-david-collection__title">
        {{ section.settings.collection_title }}
      </h2>
      <div class="section-david-collection__slider">
        <div class="section-david-collection__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.collection_product != blank %}
              {% assign product = block.settings.collection_product %}
              <div class="section-david-collection__slider-item">
                {% if block.settings.collection_background != blank %}
                  <div class="slider-item__image-bg">
                    <img src="{{ block.settings.collection_background | img_url: 'master' }}" alt="bg">
                  </div>
                {% endif %}
                <div class="slider-item__logo">
                  SP
                </div>
                <a href="{{ product.url }}" class="slider-item__link"></a>
                <div class="slider-item__image">
                  <img
                    src="{{ product.featured_image | img_url: 'master' }}"
                    alt="{{ product.featured_image.alt | default: product.title  }}"
                    class="slider-item__picture"
                    loading="lazy">
                </div>
                {% if block.settings.collection_new == true %}
                  <div class="slider-item__new-wrapper">
                    <div class="slider-item__new">
                      new
                    </div>
                  </div>
                {% endif %}
                <div class="slider-item__wrapper">
                  <div class="slider-item__info">
                    <h4 class="slider-item__title">
                      {{ product.title }}
                    </h4>
                    <div class="slider-item__price">
                      {{ product.price | money_with_currency }}
                    </div>
                    <div class="slider-item__button">
                      <a class="slider-item__btn" href="{{ block.settings.collection_catalog }}">Go to catalog</a>
                    </div>
                  </div>
                  <div class="slider-item__sale">
                    <div class="slider-item__sale-promo">
                      {{ block.settings.collection_promo }}
                    </div>
                    <div class="slider-item__sale-procent">
                      {{ block.settings.collection_procent }}
                    </div>
                    <p>sale</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endif %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#shopify-section-{{section.id}} .section-david-collection__slider-list').slick({
      centerMode: true,
      adaptiveHeight: true,
      infinite: true,
      slidesToShow: {{ section.settings.slider_items }},
      slidesToScroll: 1,
      slidesToShow: 3,
      speed: 1000,
      dots: true,
      prevArrow: $('#shopify-section-{{section.id}} .arrow-prew'),
      nextArrow: $('#shopify-section-{{section.id}} .arrow-next'),
      responsive: [
        {
          breakpoint: 1300,
          settings: {
            slidesToShow: {{ section.settings.slider_items_mob }},
            slidesToScroll: {{ section.settings.slider_items_mob }}
          }
        }, {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  });
</script>


{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.6.3.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "David collection",
    "tag": "section",
    "class": "section section-david-collection",
    "settings": [
      {
        "type": "text",
        "id": "collection_title",
        "label": "Section title",
        "default": "Collection"
      }, {
        "type": "range",
        "id": "slider_items",
        "min": 3,
        "max": 8,
        "step": 1,
        "label": "Items per page",
        "default": 3
      }, {
        "type": "range",
        "id": "slider_items_mob",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Items per page",
        "default": 1
      }
    ],
    "blocks": [
      {
        "name": "David collection",
        "type": "david-collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection_catalog",
            "label": "Collection"
          },
          {
            "type": "checkbox",
            "id": "collection_new",
            "label": "collection new",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "collection_background",
            "label": "Item background"
          },
          {
            "type": "product",
            "id": "collection_product",
            "label": "Our collection Product"
          }, {
            "type": "text",
            "id": "collection_promo",
            "label": "Promo",
            "default": "promo: 123"
          }, {
            "type": "text",
            "id": "collection_procent",
            "label": "Procent",
            "default": "40%"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "David Task Collection",
        "blocks": [
          {
            "type": "david-collection"
          }, {
            "type": "david-collection"
          }, {
            "type": "david-collection"
          }
        ]
      }
    ]
  }
{% endschema %}